*{
    margin: 0;
    padding: 0 ;
    list-style: none;
    
}
html{
    max-width: 1600px ;
    max-height: 900px ;
    min-width: 1499px;
    min-height: 800px;
}
.container{
    
    padding: 15px 15px ;
    /* display: flex; */
    /* flex-wrap: wrap; */
}

header{ 
    display: flex;
}
.div_1{
    
    width:20vw;
    height: 70vh;
    border: 1px solid #cccccc;
}
.div_2{
    border-top:  1px solid #cccccc;
    width: 80vw;
    height: 70vh;
    border: 1px  #cccccc;
    background: #cccccc;
    
}
.div_2 ul {
    font-family: cursive;
    text-align: center;
    margin-top: 45px;
    margin-left: 50px;
    width: 50vw;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    color: whitesmoke;
}

.div_2 h2{  
    margin-left:68% ;
    margin-top: 24%;
    font-size: 40px;
    font-family: cursive;
}

footer{
    display: flex;
}
.div_3{
    width:20vw;
    height: 30vh;
    border: 1px solid #cccccc;
}
.div_3 img {
    margin-left: 70%;
    margin-top: 6%;
    width: 80px;
    height: 100px;
}
.div_4{
    width: 80vw;
    height: 30vh;
    border: 1px solid #cccccc;
}
.div_4text{
    display: block;
    margin-top: 10px;
    margin-left: 3%;
}
.div_4text .address{
    margin-left: 30%;
    font-size: 11px;
}

